@model EquipmentFormModel


@{

	ViewData["Title"] = "Edit Equipments";
}
<h2 class="text-center " style="font-family: 'Lobster', cursive; color: black;">@ViewData["Title"]</h2>


<partial name = "_EquipmentFormPartial" model ="@Model" />


@section Scripts {
	<partial name = "_ValidationScriptsPartial"/>
}