<div class="carousel-section" style="padding: 40px 0;">
    <h1 class="display-6 text-center py-3" style="color: white; font-family: 'Lobster', cursive; background-color: #444; border-radius: 15px;">
        Welcome to the best place for renting equipment!
    </h1>

    <div id="carouselExampleControls" class="carousel slide mt-5" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://th.bing.com/th/id/R.ca5ad2f4189cfff3f2c30e57a085bac6?rik=9BuWx4kZIGNi9Q&pid=ImgRaw&r=0" class="d-block w-75 mx-auto rounded" style="height: 400px; object-fit: cover; border-radius: 30%; box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);" alt="First Image">
            </div>
            <div class="carousel-item">
                <img src="https://img.fotocommunity.com/fotopirsch-09b0f77e-59e1-4699-b602-c09c0f86354b.jpg?height=1080" class="d-block w-75 mx-auto rounded" style="height: 400px; object-fit: cover; border-radius: 30%; box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);" alt="Second Image">
            </div>
            <div class="carousel-item">
                <img src="https://wallpaperaccess.com/full/2010872.jpg" class="d-block w-75 mx-auto rounded" style="height: 400px; object-fit: cover; border-radius: 30%; box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);" alt="Third Image">
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<style>
    
    
    .carousel-control-prev,
    .carousel-control-next {
        filter: invert(1);
    }
</style>
