@model BecomeAgentFormModel

@{
    ViewBag.Title = "Become Agent";
}

<div class="d-flex justify-content-center align-items-start vh-50 mt-5">
    <div class="col-md-4">
        <section>
            <h2 class="text-center" style="font-family: 'Lobster', cursive; color: black;">@ViewBag.Title</h2>
            <hr />
            @if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewData.ModelState["Error"].Errors.First().ErrorMessage
                </div>
            }

            <form method="post" style="background-color: #555; padding: 20px; border-radius: 10px; text-align: center;">
                <div class="form-group mb-4">
                    <label asp-for="PhoneNumber" style="font-family: 'Lobster', cursive; color: white;"></label>
                    <input asp-for="PhoneNumber" class="form-control" required />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-light w-100" style="font-family: 'Lobster', cursive;">Save</button>
                </div>
            </form>
        </section>
    </div>
</div>

<style>
    .btn-light {
        transition: all 0.3s ease;
    }

    .btn-light:hover {
        box-shadow: 0 4px 8px rgba(255, 255, 255, 0.6);
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
