<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="" asp-controller="Equipment" asp-action="All">All Equipment</a>
    </li>
    @if(this.User?.Identity?.IsAuthenticated ?? false)
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Equipment" asp-action="Mine">My Equipments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Equipment" asp-action="Add">Add Equipment</a>
        </li>
    }
</ul>